button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight:bold;
    border: none;
}
.row{
    margin-left: 10%;

}
.keypad{
    border-style:double;
    border-radius: 5px;
    background-color: yellow;
    height: 100%;
}
.row> button{
    margin: 2% 2% 2% 2%;

}










