<table>
  <thead>
    <td> Friend IP </td>
    <td> No of recorded audio </td>
    <td> Disk usage </td>
  </thead>
  <tbody>
{% for friend,details in friend_count.items() %}
    <tr>
      <td>
        <a href="http://{{friend}}/nginx/recorded/">{{friend}}
      </td>
      <td>
        {% if details.count %}
          {{details.count}}
        {%else%}
          Server down
        {%endif %}
      </td>
      <td>
        {% if details.disk_usage%}
          {{details.disk_usage}}
        {%else%}
          Server down
        {%endif %}
      </td>
    </tr>
{% endfor%}
  </tbody>
</table>
