<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="border-style:double;align-content: center;width: 100%;">
        <h1 style="font-weight: bold;text-align: center;">Namma School Radio</h1> 
    </div>

    <audio id="player" controls="controls" autoplay src="{{friend_public_url}}/{{audios.0}}">
    </audio> 
    
    <div style="border-style:double;align-content: center;width: 100%;">
        <h3>category 1 songs</h3>
        <div >
            <ul id="list">
            </ul>
        </div>
    </div>

    <script>

        array = {{audios|safe}}
        var lists = document.getElementById('list');
        var audio_list_files = "";
        for(var i=0; i<=array.length-1; i++){
          var song_id = "song_"+i
          audio_list_files = audio_list_files + "<li id='"+song_id+"' data-href='"+array[i]+"'>"+array[i].split('.')[0]+"</li>";
        }
        lists.innerHTML = audio_list_files;
        for(var i=0; i<=array.length-1; i++){
            var audio_url = ""
            var song_id = "song_"+i
            document.getElementById(song_id).onclick = function play_song_clicked(){
              audio_url = "{{friend_public_url}}/"+this.getAttribute("data-href")
              var audio = document.getElementById("player")
              audio.src = audio_url
              audio.play()
            }
        }
    </script>
</body>
</html>
